.revealPassword {
    position: absolute;
    width: 1.5rem;
    border: none;
    align-self: flex-end;
    background: none;
}
/*
  stylelint-disable selector-max-type
*/
.paddedInput input {
  padding-right: 2.25rem;
}
