.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.iconContainer {
  position: absolute;
  top: 0.75rem;
  left: calc(100% - 2rem);
}

.input {
  margin-top: var(--spacing_very-small);
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--color_primary_1);
  padding: 0.5rem 1rem;
  box-shadow: none;
  color: var(--color_primary_1);
  outline: none;
  width: 100%;
  background-color: var(--color_primary_3);
}

.input::placeholder {
  color: var(--color_primary_2);
}

.input:disabled {
    color: var(--color_primary_2);
    border-color: var(--color_primary_2);
    box-shadow: none;
    background-color: var(--color_primary_2);
  }
