/.env
.idea
node_modules

# package directories
node_modules
.npm

# Webpack directories
.webpack

# Esbuild directories
.esbuild
.eslintcache

# turbo caching
.turbo

# production
/build
**/dist

# misc
.DS_Store
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*
